<%- include("partials/header");-%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="wordtyped">Title</label>
    <input type="text" name="title" class="form-control">
    <label for="name">Post</label>
    <textarea name="post" rows="8" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" >Publish</button>
</form>
<%- include("partials/footer");-%>
